.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#number {
  margin-bottom: 18px;
  width: 208px;
}

.reset {
  margin-top: 18px;
  height: 30px;
  width:  90px;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  height: 600px;
  width: 600px;
}

.cell {
  border: 1px solid black;
  box-sizing: border-box;
}